<!-- Start Nav Bar -->

<!-- left Side -->
<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a routerLink="">Logo</a></li>
      <li><a routerLink="addskill">Skills</a></li>
      <li><a routerLink="#">My Skills</a></li>
      <li><a routerLink="#">Sign In</a></li>
      <li><a routerLink="#">Log In</a></li>
    </ul>
  </div>

  <!-- Right Side -->
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">Account</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a routerLink="#">Sign up</a></li>
            <li><a routerLink="#">Log in</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
